{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
 "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
    },
    "sourceType": "module",
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["error", 120, 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
  }
}
